<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2015-10-29T12:06:27Z</date>
				<key>CustomThemeName</key>
				<string>Tesla Pro</string>
				<key>ID</key>
				<string>page8</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Butterflies</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.1.0</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2016-04-10T21:08:13Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/stacks-image-f80b8da.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							JxYq/48zEJdt8Z9OeKkk
							dQ==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page8.css</key>
						<dict>
							<key>Digest</key>
							<data>
							uLMI6cTEOiMPSNxyPgPE
							3Q==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page8.js</key>
						<dict>
							<key>Digest</key>
							<data>
							467BLncl3Rm0QKEhBtuR
							7Q==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Ts9bLP0C9/yb6f8g1wM9
							CA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page8</string>
					<key>SiteRoot</key>
					<string>page7/page8</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
