<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2015-11-06T18:20:07Z</date>
				<key>CustomThemeName</key>
				<string>Tesla Pro</string>
				<key>ID</key>
				<string>page19</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Admin Area</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.0.5</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2016-04-10T21:43:40Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/stacks-image-7c74ea6.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							XAP0382HKAeonhu4mGLg
							Qw==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_in_627_page19_logout.php</key>
						<dict>
							<key>Digest</key>
							<data>
							9e9FcyOhu03Nbc9QIkfR
							tg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_in_627_page19_protect.css</key>
						<dict>
							<key>Digest</key>
							<data>
							jZ9yOBwQ29k7ZnpsYuol
							Lg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_in_627_page19_protect.js</key>
						<dict>
							<key>Digest</key>
							<data>
							0PKBlPN7vGiD7Gc7x3tj
							BA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_in_627_page19_protect.php</key>
						<dict>
							<key>Digest</key>
							<data>
							c79Her3XQqB0ESFJWULs
							/g==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page19.css</key>
						<dict>
							<key>Digest</key>
							<data>
							aLMp2piT40CZx9itXLnJ
							QA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page19.js</key>
						<dict>
							<key>Digest</key>
							<data>
							jzFmYg7Gfmc4VudH91np
							dw==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page19.php</key>
						<dict>
							<key>Digest</key>
							<data>
							fL5jbTuHiQSj3alpSYk1
							ow==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>index.php</key>
						<dict>
							<key>Digest</key>
							<data>
							23OILQJFerKKzgxZVjqW
							ng==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page19</string>
					<key>SiteRoot</key>
					<string>page19</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
