<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2015-10-29T11:34:28Z</date>
				<key>CustomThemeName</key>
				<string>Tesla Pro</string>
				<key>ID</key>
				<string>page7</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Groups</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.1.0</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2016-04-10T21:08:08Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/stacks-image-4ae4c93.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							s09GTv15mz8cnAtAB4xB
							gg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks-image-65f1687.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							hxf+tQoDYUBJ+VUTEgLZ
							Vg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks-image-6ed15ab.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							dNOsaeZp7ezlfgsvteNJ
							gg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks-image-7078929.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							8QdG5D8ub0/tX8v8MsRt
							4w==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks-image-a6d2149.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7Tj9Z/a/9iZNYILULfCk
							6w==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks-image-b0940f2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							SDAJFGh+2rf8spKy9/5t
							kA==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks-image-e083f07.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							JxYq/48zEJdt8Z9OeKkk
							dQ==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks-image-f19c9ec.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							17Itlv81zbaKjdJSFjCu
							uw==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page7.css</key>
						<dict>
							<key>Digest</key>
							<data>
							EI4y5eLOjAPTCsfmx003
							tw==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page7.js</key>
						<dict>
							<key>Digest</key>
							<data>
							/sVCkdFW9q/IjsYQMIno
							Dw==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							y5bUsr3sZatI9DoNcMN8
							WQ==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page7</string>
					<key>SiteRoot</key>
					<string>page7</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
